<section id="investing">
  <div class="overlay"></div>
  <div class="investing-content">
    <h2>Investing in corporate yoga</h2>
    <hr />
    <h3>
      Our classes can help employees to be more mindful at work and towards your
      clients, as well as improve physical wellness by reducing back, neck and
      shoulder pain and can have a positive effect on reducing employee
      absenteeism. Team building yoga classes improve inter-staff relations and
      communication – increasing employee satisfaction.
    </h3>
  </div>
</section>
