<section id="about">
  <h2>About Us</h2>
  <hr />
  <h3>
    Tanya Dawe, Founder of Corporate Yoga Montreal, is a yoga and meditation
    teacher with a passion for health and wellness. She has been practicing yoga
    for nearly 20 years and has been teaching since 2012. She had a decade-long
    career in nursing and pharmaceuticals but decided to embark on a major
    lifestyle change in 2015 by opening her yoga studio, Yoga Vieux Montreal.
    She loves to use her yoga knowledge and personal experiences in the
    corporate setting to help companies bring wellness and balance to their
    employees. Tanya has studied yoga and meditation in Indonesia, Hawaii, India
    and Montreal.
    <br />
    <br />
    We also have a network of highly trained corporate yoga teachers on our team
    and will work with you to find the teacher who perfectly fits your needs.
  </h3>
  <h4></h4>
</section>
