<section id="services">
  <h2>What we offer</h2>
  <hr />
  <h3>
    This is your proactive step towards creating a healthy, positive and safe
    work environment!
    <br />
    We believe that offering health and wellness programs is critical to making
    your company a desirable workplace and competitive in today’s market.<br />
    Our programs will not only help to attract new talent and encourage employee
    retention, but will also increase productivity, concentration, creativity
    and performance while reducing stress and anxiety.<br />
    Classes can be conducted at your office or at our partner studio in Old
    Montreal.
  </h3>
  <div class="services-container">
    <div class="service" style="margin-right: 0;">
      <span class="service-title">Yoga</span>
      <i class="fas fa-child"></i>
      <hr />
      <span class="service-content">
        &#183; Classes include a variety of all-level yoga poses for strength
        and flexibility, breathing exercises and some guided meditation.
      </span>
      <br />
      <span class="service-content">
        &#183; Yoga classes are 45-60 minutes and are designed according to your
        company needs.
      </span>
      <br />
      <span class="service-content">
        &#183; Yoga props including mats are included.
      </span>
      <br />
      <span class="service-content">
        &#183; We offer group classes and individual one-on-one executive
        training.
      </span>
    </div>
    <div class="service">
      <span class="service-title">Meditation</span>
      <i class="fas fa-spa"></i>
      <hr />
      <span class="service-content">
        &#183; Customized 10-60 minute guided meditations.
      </span>
      <br />
      <span class="service-content">
        &#183; Can be done without changing out of your regular clothes and can
        be done sitting at your desk or conference room.
      </span>
      <br />
      <span class="service-content">
        &#183; Sample topics include:
        <li>Communication</li>
        <li>Conflict resolution</li>
        <li>Creativity</li>
        <li>Focus and clarity</li>
        <li>Stress relief and management</li>
      </span>
      <br />
      <span class="service-content">
        &#183; We offer group classes and individual one-on-one executive
        training.
      </span>
    </div>
    <div class="service" style="margin-left: 0;">
      <span class="service-title">Team-Building</span>
      <i class="fas fa-hands-helping"></i>
      <hr />
      <span class="service-content">
        &#183; A team building exercise can be customized according to your
        needs and may include gentle yoga poses, breathing techniques and
        stress-relieving meditation.
      </span>
      <br />
      <span class="service-content">
        &#183; Yoga props including mats are included.
      </span>
    </div>
  </div>
</section>
