<section id="services">
  <h2>What we offer</h2>
  <hr />
  <h3>
    This is your proactive step towards creating a healthy, positive and safe
    work environment!
    <br />
    We believe that offering health and wellness programs is critical to making
    your company a desirable workplace and competitive in today’s market.<br />
    Our programs will not only help to attract new talent and encourage employee
    retention, but will also increase productivity, concentration, creativity
    and performance while reducing stress and anxiety.<br />
    Classes can be conducted at your office or at our partner studio in Old
    Montreal.
  </h3>
  <div class="services-container">
    <div class="service" style="margin-right: 0; margin-left: 16em;">
      <span class="service-title">Yoga</span>
      <i class="fas fa-child"></i>
      <hr />
      <i class="fas fa-circle"></i>
      <span class="service-content">
        Classes include a variety of all-level yoga poses for strength and
        flexibility, breathing exercises and some guided meditation.
      </span>
      <i class="fas fa-circle"></i>
      <span class="service-content">
        Yoga classes are 45-60 minutes and are designed according to your
        company needs.
      </span>
      <i class="fas fa-circle"></i>
      <span class="service-content">
        Yoga props including mats are included.
      </span>
      <i class="fas fa-circle"></i>
      <span class="service-content">
        We offer group classes and individual one-on-one executive training.
      </span>
    </div>

    <div class="service" style="margin: 0 6em;">
      <span class="service-title">Meditation</span>
      <i class="fas fa-spa"></i>
      <hr />
      <i class="fas fa-circle"></i>
      <span class="service-content">
        Customized 10-60 minute guided meditations.
      </span>
      <i class="fas fa-circle"></i>
      <span class="service-content">
        Can be done without changing out of your regular clothes and can be done
        sitting at your desk or conference room.
      </span>
      <i class="fas fa-circle"></i>
      <span class="service-content">
        Sample topics include:
        <li>Communication</li>
        <li>Conflict resolution</li>
        <li>Creativity</li>
        <li>Focus and clarity</li>
        <li>Stress relief and management</li>
      </span>
      <i class="fas fa-circle"></i>
      <span class="service-content">
        We offer group classes and individual one-on-one executive training.
      </span>
    </div>

    <div class="service" style="margin-left: 0; margin-right: 16em;">
      <span class="service-title">Team-Building</span>
      <i class="fas fa-hands-helping"></i>
      <hr />
      <i class="fas fa-circle"></i>
      <span class="service-content">
        A team building exercise can be customized according to your needs and
        may include gentle yoga poses, breathing techniques and stress-relieving
        meditation.
      </span>
      <i class="fas fa-circle"></i>
      <span class="service-content">
        Yoga props including mats are included.
      </span>
    </div>
  </div>
</section>
