<section id="contact">
  <h2>Contact us</h2>
  <hr />
  <p>
    Questions about our pricing options and how to introduce yoga and meditation
    to your office?<br />
    Send an email directly to<br />
    <button class="email-btn">
      Info@CorporateYogaMontreal.com
    </button>
  </p>
  <div>
    <button class="facebook-btn">
      <i class="fab fa-facebook-square"></i>
    </button>
    <button class="linked-btn">
      <i class="fab fa-linkedin"></i>
    </button>
  </div>
  <footer class="footer">
    <span>2020© Corporate Yoga Montreal. All Rights Reserved.</span>
    <br />
    <br />
    <br />
    <br />
  </footer>
</section>
