<section id="contact">
  <h2>Get in touch</h2>
  <p>
    Any questions about our pricing options and how to introduce yoga and
    meditation to your office?<br />
    Send an email directly<br />
    <button class="email-btn">
      Info@CorporateYogaMontreal.com
    </button>
    Or reach out to us on<br />
  </p>
  <div>
    <button class="facebook-btn">
      <i class="fab fa-facebook"></i>
    </button>
    <button class="linked-btn">
      <i class="fab fa-linkedin"></i>
    </button>
  </div>
  <hr />
  <div class="logo-container">
    <img class="contact-logo" src="../../assets/img/CYLogoSimple.svg" />
  </div>
  <footer class="footer">
    <span>2020© Corporate Yoga Montreal. All Rights Reserved.</span>
    <span>Website built in Angular, HTML5 & CSS3</span>
    <br />
    <br />
  </footer>
</section>
