<div
  id="testimony-carousel"
  class="carousel slide"
  data-ride="carousel"
  data-pause="false"
>
  <ol class="carousel-indicators">
    <li data-target="#testimony-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#testimony-carousel" data-slide-to="1"></li>
    <li data-target="#testimony-carousel" data-slide-to="2"></li>
    <li data-target="#testimony-carousel" data-slide-to="3"></li>
    <li data-target="#testimony-carousel" data-slide-to="4"></li>
    <li data-target="#testimony-carousel" data-slide-to="5"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="carousel-caption d-none d-md-block">
        <p>
          "Love this peaceful hour in my stressful workday, Tanya is the best
          teacher you can have, respecting the multiple levels in the class but
          always keeping it different and challenging.""
        </p>
      </div>
    </div>

    <div class="carousel-item">
      <div class="carousel-caption d-none d-md-block">
        <p>
          "I love our weekly yoga classes. It is not about the actual yoga
          performance but the wellness. The class is just after the work day
          ends, at the office, which makes it really easy and convenient for me
          to attend."
        </p>
      </div>
    </div>

    <div class="carousel-item">
      <div class="carousel-caption d-none d-md-block">
        <p>
          "I am a martial artist who loves everything about body knowledge and
          feeling and its connection with the mind. Yoga is an excellent way for
          me to stretch and recover from the physical tension of sitting at my
          desk all day and I especially like the teacher’s calm voice and the
          positivity she bring into the class. Thank you!”
        </p>
      </div>
    </div>

    <div class="carousel-item">
      <div class="carousel-caption d-none d-md-block">
        <p>
          “J’adore le yoga avec Tanya. Les classes sont toujours différentes et
          challengeantes, tout en mettant l'accent sur l’écoute de notre corps
          et ses besoins.”
        </p>
      </div>
    </div>

    <div class="carousel-item">
      <div class="carousel-caption d-none d-md-block">
        <p>
          “I've taken Tanya's classes for a couple of months now and it always
          makes me feel uplifted and relaxed in body and mind at the same time.
          It definitely helps me to calm down and relieve the stress from the
          busy day and I really like the short moment that she encourages us to
          thank ourselves at the very end of the class; it’s a moment of bliss
          after a long work day.”
        </p>
      </div>
    </div>

    <div class="carousel-item">
      <div class="carousel-caption d-none d-md-block">
        <p>
          “I appreciate this short, yet highly effective, 45 minute yoga class.
          I wish we could have these sessions on a daily basis. The yoga
          sessions make me feel stronger and I have noticed that I have less
          aches and pains in my back since starting a few months ago and even my
          wife has mentioned that I seem calmer since I started! Thank you!”
        </p>
      </div>
    </div>
  </div>
</div>
