@import "../src/assets/css/reset.css";

html,
body,
p {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  line-height: 1.5em;
}

section {
  overflow: hidden;
  position: relative;
}

hr {
  margin-bottom: 2em;
  width: 8%;
}
